<!-- 編集フォーム -->
<%= form_with local: true, model: @post, class: "card mx-auto border-dark w-75 mt-4 mb-4" do |f| %>
  <h5 class="card-header text-center text-white bg-success">編集フォーム</h5>
  <div class="card-body">
    <div class="row form-group">
      <%= f.label :pilot, "操縦者名", class: "col-sm-2" %>
      <%= f.text_field :pilot, class: "col-sm-6 form-control", value: @post.pilot %>
    </div>
    <div class="row form-group">
      <%= f.label :machine, "搭乗機名", class: "col-sm-2" %>
      <%= f.text_field :machine, class: "col-sm-6 form-control", value: @post.machine %>
    </div>
    <div class="row form-group">
      <%= f.label :image, "積荷画像", class: "col-sm-2" %>
      <%= f.file_field :image, class: "col-sm-6" %>
    </div>
    <div class="row form-group">
    <% if @post.image.url %>
        <%= f.check_box :remove_image, class: "offset-sm-2" %>
        <%= f.label :remove_image, "画像を削除する" %>
    <% end %>
    </div>
    <div class="row form-group">
      <%= f.label :affiliation, "積荷の種類", class: "col-sm-2" %>
      <%= f.select :affiliation,
                   [["食品", "食品"],
                    ["金属", "金属"],
                    ["木材", "木材"],
                    ["雑貨", "雑貨"],
                    ["冷凍", "冷凍"] ],
                   selected: @post.affiliation %>
    </div>
    <div class="row form-group">
      <p style="display:inline;" class="col-sm-2">メーカー</p>
      <label><%= f.radio_button :series, "トヨタL&F" %>トヨタL&F</label>
      <label class="ml-2"><%= f.radio_button :series, "ニチユ三菱" %>ニチユ三菱</label>
      <label class="ml-2"><%= f.radio_button :series, "コマツリフト" %>コマツリフト</label>
    </div>
    <div class="row form-group">
      <%= f.label :speech, "連絡内容", class: "col-sm-2" %>
      <%= f.text_area :speech, class: "col-sm-9 form-control", value: @post.speech %>
    </div>
    <div class="row">
      <%= f.submit "編集する", class: "btn offset-sm-2 btn-sm btn-primary" %>
    </div>
  </div>
<% end %>

<!-- 投稿一覧画面へのリンク -->
<p class="text-center mt-3"><%= link_to("投稿一覧へ戻る", posts_path) %></p>